@media all and (min-width: 480px) {
    
    .UserManagement {
        padding: 0px 0;
    }

    .SearchUserBox{
        padding-left: 0px;
    }

    .UserButtons{
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .UserManagement h1{
        padding-left: 0px;
        text-align: left;
    }
}