.popup-box {
    position: fixed;
    background: #00000050;
    width: 200vh;
    height: 200vh;
    top: 0;
    left: 0;
  z-index: 1;
  }
   
  .box {
    position: relative;
    width: 50rem;
    margin: 0 auto;
    height: 60rem;
    max-height: 70vh;
    margin-top: 100px;
    background: rgb(228, 231, 239);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #0f3287;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: 450px;
    top: 100px;
    /*background: #ededed;*/
    width: 25px;
    height: 25px;
    /*border-radius: 50%;*/
    line-height: 20px;
    text-align: center;
    /*border: 1px solid #999;*/
    font-size: 20px;
  }